@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Inconsolata:wght@700&family=Space+Mono:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 1440px;
    max-height: 1080px;
    margin: 0px auto;
}

header, main, footer{
    max-width: 1440px;
    overflow: hidden;
    margin-left: min(77px, 5%);
}

header > h1{
    max-width: 133px;
    max-height: 25px;
    margin: 40px 0px;

    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.08em;
}

main{
    display: flex;
    flex-flow: row  wrap;
    gap: 50px;
}

main img{
    max-width: 539.2236938476562px;
    width: 45%;
    max-height: 447.4263916015625px;
    height: 100%;
}

main div{
    max-width: 586px;
    width: 45%;
    min-width: 300px;
}

h2{
    max-width: 586px;
    max-height: 190px;

    font-family: 'Space Mono';
    font-size: max(min(4vw, 64px), 24px);
    font-weight: 700;
    letter-spacing: -0.035em;

    margin-bottom: 20px;
}

p.main{
    max-width: 381px;
    max-height: 108px;

    font-family: 'Space Mono';
    font-size: max(min(1.5vw, 24px), 12px);
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #4F4F4F;

    margin-bottom: 40px;

}

button{
    width: 216px;
    height: 68px;
    top: 663px;
    left: 740px;
    background-color: #333333;
}

button a{
    color: #ffffff;
    font-family: 'Space Mono';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-align: feft;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
p.footer{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

p.footer a{
    color: #333333;
    text-decoration: none;
}